.container {
    display: flex;
    justify-content: center;
    margin-bottom: 219px;
}

[is-iframe="true"]:not([is-preview="true"]) .container {
    max-height: 256px;
    overflow: hidden;
}

pre {
    width: 512px;
    max-width: 100%;
    white-space: pre-wrap;
    word-wrap: break-word;
}

[is-iframe="true"]:not([is-preview="true"]) pre {
    margin-top: 0;
}

pre .censored {
    color: var(--studio-black);
    cursor: pointer;
    display: inline-block;
    font-family: none;
    line-height: 0;
}

pre .name-link {
    color: var(--studio-blue);
    cursor: pointer;
    position: relative;
    display: inline-block;
}

pre .name-link::before {
    display: none;
    content: attr(data-info);
    color: white;
    background-color: rgba(0, 0, 0, .75);
}

pre .name-link:hover::before {
    display: block;
    position: absolute;
    left: 0;
    top: -18px;
    width: 160px;
}

body[data-value-of-enable-hover-show-line-info="true"] pre [data-line-number]:not(:has([data-line-number]:hover)):hover {
    background-color: lightgoldenrodyellow;
    outline: 1px dashed black;
    position: relative;
}

body[data-value-of-enable-hover-show-line-info="true"] pre [data-line-number]:not(:has([data-line-number]:hover)):hover::before {
    content: attr(class) ' ' attr(data-line-number);
    position: absolute;
    left: -230px;
    width: 200px;
    padding-right: 4px;
    height: 100%;
    display: block;
    border-top: 1px dashed black;
    border-right: 1px dashed black;
    border-bottom: 1px dashed black;
    text-align: right;
    background: linear-gradient(to right, white, lightyellow);
}

body[data-value-of-enable-line-width-560px="true"] pre .line,
body[data-value-of-enable-line-width-560px="true"] pre .empty-line {
    width: 560px;
}

body[data-value-of-enable-line-width-560px="true"][data-value-of-enable-line-width-608px="true"] pre .line,
body[data-value-of-enable-line-width-560px="true"][data-value-of-enable-line-width-608px="true"] pre .empty-line {
    width: 608px;
}

body[data-value-of-enable-line-width-560px="true"][data-value-of-enable-line-width-608px="true"][data-value-of-enable-line-width-656px="true"] pre .line,
body[data-value-of-enable-line-width-560px="true"][data-value-of-enable-line-width-608px="true"][data-value-of-enable-line-width-656px="true"] pre .empty-line {
    width: 656px;
}
