.container {
    display: flex;
    justify-content: start;
    margin-bottom: 219px;
    flex-direction: column;
    align-items: center;
}

.page:not(:first-child) {
    margin-top: 0;
}

.page:not(.first-page) {
    border-top: none;
}

.page:not(:last-child) {
    margin-bottom: 0;
}

.page {
    border: 1px dashed var(--studio-green-30);
    padding: 4px 8px;
    position: relative;
}

body[is-iframe="true"]:not([is-preview="true"]) .page {
    border: 1px dashed transparent;
}

[is-iframe="true"]:not([is-preview="true"]) .container {
    max-height: 256px;
    overflow: hidden;
}

pre {
    width: 512px;
    max-width: 100%;
    white-space: pre-wrap;
    word-wrap: break-word;
    font-family: Menlo, Monaco, Consolas, "Courier New", "Microsoft YaHei", monospace;
}

[is-iframe="true"]:not([is-preview="true"]) pre {
    margin-top: 0;
}

pre .censored {
    color: var(--studio-black);
    cursor: pointer;
    display: inline-block;
    font-family: none;
    line-height: 0;
}

pre .name-link,
pre .link {
    color: var(--studio-blue);
    cursor: pointer;
    position: relative;
    display: inline-block;
}

pre .name-link::before,
pre .link::before {
    display: none;
    position: absolute;
    left: 0;
    top: -18px;
    min-width: 160px;
    width: max-content;
    color: white;
    background-color: rgba(0, 0, 0, .75);
}

pre .name-link::before {
    content: attr(data-info);
}

pre .link::before {
    content: attr(to);
}

pre .name-link:hover::before,
pre .link:hover::before {
    display: block;
}

body[data-value-of-enable-hover-show-line-info="true"] pre [data-line-number]:not(:has([data-line-number]:hover)):hover {
    background-color: lightgoldenrodyellow;
    outline: 1px dashed black;
    position: relative;
}

body[data-value-of-enable-hover-show-line-info="true"] pre [data-line-number]:not(:has([data-line-number]:hover)):hover::before {
    content: attr(class) ' ' attr(data-line-number);
    position: absolute;
    top: -1px;
    left: -230px;
    width: 200px;
    padding-right: 4px;
    height: 100%;
    display: block;
    border-top: 1px dashed black;
    border-right: 1px dashed black;
    border-bottom: 1px dashed black;
    text-align: right;
    background: linear-gradient(to right, white, lightyellow);
}

body[data-value-of-enable-hover-show-page-info="true"] .page:hover::before {
    content: attr(data-page-info);
    position: absolute;
    top: 0;
    left: -222px;
    width: 200px;
    height: calc(100% - 4px);
    padding-top: 3px;
    padding-right: 4px;
    display: block;
    border-top: 1px dashed black;
    border-right: 1px dashed black;
    border-bottom: 1px dashed black;
    text-align: right;
    background: linear-gradient(to right, white, lightgoldenrodyellow);
}

body[data-value-of-enable-hover-show-page-info="true"] .page:not(:first-child):hover::before {
    height: calc(100% - 5px);
    padding-top: 4px;
}

body[data-value-of-enable-hover-show-page-info="true"] .page.extra-width:hover::before {
    left: -322px;
    width: 300px;
}

body[data-value-of-enable-line-width-560px="true"] pre,
body[data-value-of-enable-line-width-560px="true"] pre .line,
body[data-value-of-enable-line-width-560px="true"] pre .empty-line {
    width: 560px;
}

body[data-value-of-enable-line-width-560px="true"][data-value-of-enable-line-width-608px="true"] pre,
body[data-value-of-enable-line-width-560px="true"][data-value-of-enable-line-width-608px="true"] pre .line,
body[data-value-of-enable-line-width-560px="true"][data-value-of-enable-line-width-608px="true"] pre .empty-line {
    width: 608px;
}

body[data-value-of-enable-line-width-560px="true"][data-value-of-enable-line-width-608px="true"][data-value-of-enable-line-width-656px="true"] pre,
body[data-value-of-enable-line-width-560px="true"][data-value-of-enable-line-width-608px="true"][data-value-of-enable-line-width-656px="true"] pre .line,
body[data-value-of-enable-line-width-560px="true"][data-value-of-enable-line-width-608px="true"][data-value-of-enable-line-width-656px="true"] pre .empty-line {
    width: 656px;
}

pre img {
    width: 100%;
}

pre .thumbnail {
    display: inline;
    max-width: 100px;
}

pre .thumbnail-2x {
    display: inline;
    max-width: 200px;
}

pre .row {
    display: flex;
}

pre .row:has(.thumbnail),
pre .row:has(.thumbnail-2x) {
    gap: 10px;
}
