.container {
    display: flex;
    justify-content: center;
}

pre {
    width: 512px;
    max-width: 100%;
    white-space: pre-wrap;
    word-wrap: break-word;
}

pre .highlight-red {
    color: var(--studio-red);
    cursor: pointer;
    display: inline-block;
}

pre .censored {
    color: var(--studio-black);
    cursor: pointer;
    display: inline-block;
    font-family: none;
    line-height: 0;
}

pre .name-link {
    color: var(--studio-blue);
    cursor: pointer;
    position: relative;
    display: inline-block;
}

pre .name-link::before {
    display: none;
    content: attr(data-info);
    color: white;
    background-color: rgba(0, 0, 0, .75);
}

pre .name-link:hover::before {
    display: block;
    position: absolute;
    left: 0;
    top: -18px;
    width: 160px;
}

.has-border {
    border: 1px solid black;
    width: 100%;
    position: relative;
    left: -2%;
    padding: 0 2%;
}

.badge {
    display: inline-block;
    border: 1px solid var(--studio-blue-10);
    padding: 4px 8px;
    border-radius: 8px;
    background-color: var(--studio-blue-0);
    cursor: pointer;
}

pre del * {
    text-decoration: line-through;
}