.container-fluid {
    display: flex;
    justify-content: center;
}

.container {
    display: flex;
    flex-direction: column;
    width: 512px;
    max-width: 100%;
}

.top-bar {
    text-align: center;
}

@media screen and (min-width:1200px) {
    .container {
        width: 1200px;
    }

    .top-bar {
        padding-right: calc(1200px / 2 - 512px);
    }

    .index-wrapper {
        display: flex;
        flex-wrap: wrap;
        gap: calc(1200px / 2 - 512px);
    }
}

.index-wrapper>a {
    display: block;
}

.index-wrapper>.item {
    display: flex;
    margin-top: 64px;
    margin-bottom: 96px;
    position: relative;
}

.index-wrapper>.item>.cover {
    position: absolute;
    background-color: rgba(12, 12, 12, .1);
    width: 512px;
    max-width: 100%;
    height: 256px;
}

.index-wrapper>.item>.cover::before {
    display: block;
    width: calc(50% - 8px);
    min-height: 18px;
    height: 18px;
    max-height: 18px;
    padding: 4px;
    position: relative;
    top: -24px;
    color: white;
    text-align: left;
    content: attr(data-folder);
}

.index-wrapper>.item>.cover::after {
    display: block;
    width: calc(50% - 8px);
    min-height: 18px;
    height: 18px;
    max-height: 18px;
    padding: 4px;
    position: relative;
    top: calc(-24px - 24px - 2px);
    left: 50%;
    background-color: rgba(12, 12, 12, .75);
    color: white;
    text-align: right;
    content: attr(data-filename);
}

.index-wrapper>.item>iframe {
    display: block;
    width: 512px;
    max-width: 100%;
    height: 256px;
    border: none;
}

pre {
    white-space: pre-wrap;
    word-wrap: break-word;
}