.row {
    display: flex;
    align-items: start;
}
.row > .col {
    width: 50%;
}

@media screen and (max-width: 600px) {
    .row {
        flex-direction: column;
    }
    .row > .col {
        width: 100%;
    }
}