.search-backdrop {
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(244, 244, 244, .8);
    color: black;
    backdrop-filter: blur(2.5px);
    display: none;
}

.search-backdrop.on {
    display: flex;
    justify-content: center;
    overflow: scroll;
}

.search {
    display: flex;
    flex-direction: column;
    max-width: 100%;
}

.search>.search-bar {
    margin-top: 40px;
    width: 512px;
    max-width: 100%;
    position: relative;
}

.search>.search-bar>.close-button {
    position: absolute;
    right: 0;
    top: 0;
}

.search>.search-result {
    margin-top: 40px;
    width: 512px;
    max-width: 100%;
    padding-bottom: 320px;
}

.search>.search-result>.link {
    display: block;
}

.search>.search-result>.link>.text {
    display: block;
    width: 100%;
    height: 500px;
    overflow: scroll;
    background: rgba(116, 255, 167, 0.3);
    color: black;
    padding-left: .5rem;
    padding-right: .5rem;
}

.search>.search-result>.link>.text:hover {
    box-shadow: 0 0 4px var(--studio-blue);
}

.search>.search-result>.link>.cover-wrapper {
    position: relative;
}

.search>.search-result>.link>.cover-wrapper>.cover {
    position: absolute;
    z-index: 43;
    width: calc(100% - 100px);
    background: rgba(0, 0, 0, 0.05);
    height: 500px;
    cursor: pointer;
}

.search>.search-result>.link>.cover-wrapper>.cover:hover {
    background: rgba(0, 0, 0, 0.1);
}

.search>.search-result>.link::before {
    display: block;
    float: right;
    margin-left: 2rem;
    color: white;
    background: green;
    font-size: .8rem;
    padding: .1rem .5rem;
    border-radius: .5rem;
    content: attr(data-times);
}

.search>.search-result>.link .folder {
    color: var(--studio-red-60);
}

.modal-open {
    overflow: hidden;
}

pre {
    max-width: 100%;
    white-space: pre-wrap;
    word-wrap: break-word;
    font-family: Menlo, Monaco, Consolas, "Courier New", "Microsoft YaHei", monospace;
}

.marker {
    background-color: var(--studio-yellow-10);
    outline: 2px solid var(--studio-red);
    outline-offset: 2px;
    outline-style: dashed;
    font-style: normal;
    font-family: Menlo, Monaco, Consolas, "Courier New", "Microsoft YaHei", monospace;
    position: relative;
    z-index: 32;
}

.marker-wrapper {
    position: relative;
    display: inline-block;
    font-size: 16px;
}

.marker-wrapper::before {
    display: inline-block;
    content: '';
    position: absolute;
    z-index: 31;
    left: -2px;
    top: 0;
    width: calc(100% + 4px);
    height: 23px;
    background: var(--studio-yellow-10);
}
